Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
Content/Imports/Buildings/Museo/Textures/SueloMadera/WoodFloor26_rgh.uasset
Content/Imports/Buildings/Museo/Textures/SueloMadera/WoodFloor26_nrm.uasset
Content/Imports/Buildings/Museo/Textures/SueloMadera/WoodFloor26_col.uasset
Content/Imports/Buildings/Museo/Textures/SueloMadera/WoodFloor26_AO.uasset
